.Layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  
    .container {
      height: 618px;
    }
  
    .tabbar {
      height: 49px;
      .adm-tab-bar-item {
        color: #888c98;
      }
  
      .adm-tab-bar-item-active {
        color: rgb(105, 174, 120);
      }
    }
  }

  